Package: com.rickzz.bypass
Name: SystemData
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: Sistema de Protecao Rickzz V3
Maintainer: Rickzz
Author: Rickzz
Section: Tweaks
