Package: com.seu.painelff
Name: Painel FF Clone
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: Menu Injetavel para FF
Maintainer: SeuNome
Author: SeuNome
Section: Tweaks
